<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link rel="stylesheet" href="/public/style.css">
</head>
<body>
  <div class="container">
    <h1>Login</h1>
    <form action="/users/login" method="post">
        <input type="text" placeholder="Nickname" id="username" name="username" required> 
        <input type="password" placeholder="Password" id="password" name="password" required>
        <button type="submit">Entrar</button>
      </form>
      <a href="register.html">create an account</a>
    <div id="message"></div>
  </div>
  
  
</body>
</html>


